/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**@import url("https://use.typekit.net/izs1aqv.css");**/
@font-face {
	font-family: "Proxima Soft";
	src: url("https://use.typekit.net/izs1aqv.css");
}

 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 body {
   font-family: "Proxima Soft", sans-serif;
   background: linear-gradient(to right, #6ecda2, #5eb1dd);
 }


 h1, h2, h3, h4{
   margin: 0;
 }


#logo{
  float: right;
  padding-right: 20px;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-top:15px;
  z-index: 10;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  color: #cc4e49;
}

.main-nav{
  letter-spacing: 1px;
  font-size: 27px;
}

.main-nav ul{
  list-style: none;
  position: fixed;
  top:160px;
  right: 0;
  padding-right: 20px;
  text-align: right;
  z-index: 10;
}

.main-nav li{
  padding-bottom: 70px;
}

.main-nav li a, .contact-nav a{
  text-decoration: none;
  color: #cc4e49;
  font-weight: lighter;
}



.contact-nav a{
  color: white;
}

.contact-nav{
  position: absolute;
  bottom:50px;
  width: 100%;
  padding: 0 20px;
}

.join-us{
  float:right;
}

.contact-nav .fa {
  position:absolute;
  right:120px;
  bottom: 5px;
}

.contact-nav #text{
  position:relative;
}

.welcome-page{
  color: white;
  margin: 300px 0 300px 100px;
  width: 40%;
}

.welcome-page h3{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.welcome-page h2{
  font-size: 45px;
  font-weight: normal;
}

.welcome-page a{
  font-size: 25px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0 5px;
}

.welcome-page a:hover, .main-nav li a:hover{
  color: white;
  text-decoration: none;
  background-color: #cc4e49;
  border-bottom: none;
  padding: 0 5px;
}

.projects img{
  width: 100%;
}

.projects {
  position: relative;
  color: white;
}

.colorbox1 {
  position: absolute;
  top: 0;
  left:0;
  width: 40%;
  height: 100%;
  background-color: #cc4e49;
}

.projects #textwrap {
  position: absolute;
  top:0;
  right:0;
  margin: 100px;
  width:50%;
  font-size: 18px;
  line-height: 1.5;
}

.projects #textwrap h2{
  font-size: 30px;
  font-weight: normal;
  line-height: 0;
  padding-bottom: 10px;
}

.projects a{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 25px;
  padding-bottom: 2px;
}

.projects a:hover{
  border-bottom: none;
}


.colorbox2 {
  background-color: white;
  padding: 140px 250px 150px 250px;
}

.textbox {
  font-size: 25px;
  color: #cc4e49;
  background-color: white;
  border: 8px solid #cc4e49;
  padding: 85px 80px 100px 100px;
}

.textbox h3{
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.textbox a{
  color: #cc4e49;
  text-decoration: none;
  border-bottom: 1px solid #cc4e49;
  padding-bottom: 5px;
}

.textbox a:hover{
  background-color: #e6a7a4;
  border-bottom: none;
}

.about h2{
  text-align: center;
  margin-top: 145px;
}

.about h2 a{
  font-size: 40px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  border-bottom: 5px solid black;
  padding-bottom: 15px;
}

.about h2 a:hover{
  border-bottom: none;
  background-color: #d6716d;
  padding:0;
}


.contact{
  background-color: #f2d657;
  font-weight: normal;
}

.contact h2 {
  font-weight: normal;
  font-size:32px;
}

.contact h3 {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.contact p{
  margin: 0;
}

.fa-long-arrow-right{
  float: left;
  padding-right: 20px;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.contact .col {
  background-color: #f2d657;
  float: left;
  height: 17em;
}

.col-1-2 {
  width: 50%;
  padding: 110px 110px 110px 50px;
}

.col-1-4 {
  width: 25%;
  padding: 80px 0;
  line-height: 1.5;
}

.col-1-4 .fa {
  padding-right: 10px;
  padding-top: 10px;
}

.col-1-4 .fa:hover {
  opacity: 0.5;
}

.social a:hover {
  border-bottom: none;
}


footer {
  clear: both;
  height: 100%;
  background-color: #f2d657;
  padding: 20px;
  border-top: 1px solid #e1c751;
}

footer p{
  margin: 0;
}

#description {
  float:right;
}

footer a{
  color: black;
  text-decoration: none;
}

footer a:hover{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
